@import "./sass/mixins.scss";

.App {
  text-align: center;
}

.done {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  color: grey;
}

h2 {
  font-size: 20px;
  color: #f1356d;
  @include ipad() {
    font-size: 22px;
  }
  @include desktop() {
    font-size: 24px;
  }
}

// CreateTodo \\
.createTodo {
  input {
    width: 50%;
    padding: 10px 10px;
    margin: 12px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    margin-left: 25%;
    @include ipad() {
      font-size: 16px;
    }
    @include desktop() {
      width: 45%;
      margin-left: 28%;
      font-size: 18px;
    }
  }
  label {
    @include desktop() {
      font-size: 18px;
    }
  }
  button {
    @include button();
    margin-top: 2%;
    font-size: 16px;
    width: 30%;
    margin: 4%;
    @include ipad() {
      margin-top: 1%;
      margin-bottom: 2%;
      font-size: 18px;
    }
    @include desktop() {
      font-size: 20px;
      width: 20%;
    }
  }
}
// CreateTodo \\

// PrintTodo \\
.todoItemsCont {
  border: 2px solid #fafafa;
  color: #333;
  button {
    @include button();
    background-color: rgb(203, 9, 9);
    color: #fff;
    display: block;
    margin-left: 42%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 14px;
    @include ipad() {
      font-size: 16px;
    }
    @include desktop() {
      width: 12%;
      margin-left: 44%;
      margin-top: 1%;
      font-size: 18px;
    }
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
    margin-left: -1%;
    font-size: 20px;
    @include ipad() {
      margin-left: 0%;
      font-size: 22px;
    }
    @include desktop() {
      font-size: 30px;
    }
  }
  h2 {
    color: #282c34;
  }
  p {
    @include ipad() {
      font-size: 18px;
    }
    @include desktop() {
      font-size: 20px;
    }
  }
}

// PrintTodo \\
